{% extends "base.html" %}

{% block content %}

<section class="container py-5">

    <h1 class="text-center mb-5">
        About InsightOS
    </h1>

    <div class="row">

        <div class="col-md-6">

            <div class="feature-card">

                <h3>Project Objective</h3>

                <p>

                    InsightOS is a Decision Intelligence Platform designed to
                    help organizations understand their existing data,
                    identify unused information, detect missing business data,
                    and evaluate business decisions using analytical insights.

                </p>

            </div>

        </div>

        <div class="col-md-6">

            <div class="feature-card">

                <h3>Problem Statement</h3>

                <p>

                    Businesses collect huge amounts of data but struggle to
                    understand what data exists, what information is unused,
                    what is missing, and whether strategic decisions actually
                    improve organizational performance.

                </p>

            </div>

        </div>

    </div>

</section>

{% endblock %}