{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <h1 class="mb-4 text-center">
        Metadata Catalog
    </h1>

    {% if datasets %}

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>

                <th>Dataset</th>

                <th>Rows</th>

                <th>Columns</th>

                <th>Quality Score</th>

                <th>Uploaded On</th>

            </tr>

        </thead>

        <tbody>

        {% for dataset in datasets %}

            <tr>

                <td>{{ dataset.dataset_name }}</td>

                <td>{{ dataset.rows }}</td>

                <td>{{ dataset.columns }}</td>

                <td>{{ dataset.quality_score }}%</td>

                <td>{{ dataset.uploaded_at }}</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% else %}

    <div class="alert alert-info">

        No datasets uploaded yet.

    </div>

    {% endif %}

</div>

{% endblock %}